.nav-header {
  display: flex;
  justify-content: space-between;
  background-color: #272727;
  padding: 17px;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 200px;
  color: #f8fafc;
  font-family: roboto;
}

.home-logo {
  height: 50px;
}

.logout-desktop-btn {
  background-color: #6366f1;
  border: 0px;
  width: 110px;
  padding: 7px;
  border-radius: 7px;
  height: 40px;
  color: #f8fafc;
}
.link {
  text-decoration: none;
  list-style: none;
}
